{
  "presets": ["es2015", "stage-2"],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "test": {
      "plugins": [
        [
          "webpack-loaders",
          {
            "config": "./webpack/test.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
