.ou-home_points {
  background: #e9e9e9;
  padding: 40px 0;
  margin-bottom: 40px; }

.ou-home_point {
  width: 33%; }
  .ou-home_point .ou-home_img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
    .ou-home_point .ou-home_img svg {
      width: 100px;
      height: 100px;
      fill: #8c28f2; }
  .ou-home_point p {
    text-align: center;
    width: 90%;
    margin: 0 auto; }
  .ou-home_point h3 {
    color: #590aaa;
    text-align: center;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 12px;
    border-bottom: 1px solid #dedede; }

.ou-home_mainContent h2, .ou-home_mainContent h3, .ou-home_mainContent h4, .ou-home_mainContent h5, .ou-home_mainContent h6 {
  color: #590aaa; }

.ou-home_mainContent h2 {
  font-size: 20px; }

.ou-home_badges img {
  margin-right: 8px; }

.ou-home_des {
  background: #590aaa;
  color: #e9e9e9;
  padding-bottom: 20px; }
  .ou-home_des h2 {
    font-size: 250%; }
  .ou-home_des .btn {
    margin-right: 16px; }
.ou-markdown_cpBoard {
  display: flex;
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: -30px;
  justify-content: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  align-items: center;
  line-height: 1; }

.ou-markdown_cp {
  position: relative;
  overflow: hidden; }
  .ou-markdown_cp:hover .ou-markdown_cpBoard {
    transition: all .3s;
    bottom: 6px; }
.ou-components_side, .ou-components_view {
  margin-top: 20px;
  margin-bottom: 20px; }

.ou-components_hover, dd a:hover:after, dd a.router-link-active:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #590aaa; }

[data-path^="/components"] .ou-components_main h1 {
  font-size: 22px; }

[data-path^="/components"] .ou-components_main h2 {
  font-size: 20px; }

[data-path^="/components"] .ou-components_main h3 {
  font-size: 18px; }

[data-path^="/components"] .ou-components_main h4 {
  font-size: 16px; }

[data-path^="/components"] .ou-components_main h5 {
  font-size: 15px; }

[data-path^="/components"] .ou-components_main h6 {
  font-size: 14px; }

[data-path^="/components"] .ou-components_main h1, [data-path^="/components"] .ou-components_main h2, [data-path^="/components"] .ou-components_main h3, [data-path^="/components"] .ou-components_main h4, [data-path^="/components"] .ou-components_main h5, [data-path^="/components"] .ou-components_main h6 {
  color: #590aaa; }

[data-path^="/components"] .ou-components_main pre[class*="language-"] {
  font-size: 11px; }

dt {
  font-size: 14px; }

dd {
  margin: 0;
  font-size: 13px; }
  dd a {
    padding: 8px 0;
    text-indent: 12px;
    display: block;
    position: relative;
    color: #590aaa; }
    dd a:after {
      content: ''; }

.ou-components_side {
  width: 180px;
  border-right: 1px solid #eee; }

.ou-components_view {
  flex: 1;
  padding-left: 40px;
  padding-bottom: 20px; }
.ou-grid_gridFixed {
  position: relative;
  width: 100%;
  border: 1px solid #dee4e6; }
  .ou-grid_gridFixed [data-role="col"] {
    display: flex;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis; }

.ou-grid_ghead, [data-role="row"] {
  display: flex; }

.ou-grid_ghead {
  overflow: hidden; }
  .ou-grid_ghead [data-role="row"] {
    width: 100%; }
  .ou-grid_ghead [data-role="col"] {
    position: relative;
    border-bottom: 1px solid #dee4e6;
    border-right: 1px solid #dee4e6;
    padding-left: 12px; }
    .ou-grid_ghead [data-role="col"] .ou-grid_loading-pie {
      right: 4px;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
      display: inline-block;
      border-width: 9px; }
    .ou-grid_ghead [data-role="col"]:last-child {
      border-right: none; }
  .ou-grid_ghead [data-sort] {
    cursor: pointer;
    position: relative; }
    .ou-grid_ghead [data-sort]:after, .ou-grid_ghead [data-sort]:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 0;
      height: 0;
      border: 5px solid transparent; }
    .ou-grid_ghead [data-sort]:after {
      border-top-color: #ccc;
      margin-top: 1px; }
    .ou-grid_ghead [data-sort]:before {
      border-bottom-color: #ccc;
      margin-top: -11px; }
    .ou-grid_ghead [data-sort]:hover:after {
      border-top-color: #666; }
    .ou-grid_ghead [data-sort]:hover:before {
      border-bottom-color: #666; }
  .ou-grid_ghead [data-sort="1"]:after {
    display: none; }
  .ou-grid_ghead [data-sort="1"]:before {
    margin-top: -8px;
    border-bottom-color: #666; }
  .ou-grid_ghead [data-sort="0"]:before {
    display: none; }
  .ou-grid_ghead [data-sort="0"]:after {
    border-top-color: #666;
    margin-top: -2px; }

.ou-grid_gbody {
  overflow: auto; }
  .ou-grid_gbody [data-role="col"] {
    justify-content: center;
    flex-flow: column wrap; }
  .ou-grid_gbody [data-role="row"] {
    flex-flow: row; }
    .ou-grid_gbody [data-role="row"]:nth-child(even) {
      background: #f2f6f7; }
    .ou-grid_gbody [data-role="row"]:nth-child(odd) {
      background: #fff; }
    .ou-grid_gbody [data-role="row"]:hover {
      background: #e6f0fa; }
      .ou-grid_gbody [data-role="row"]:hover:nth-child(even) {
        background: #e6f0fa; }
@keyframes ou-loading_loadingpie {
  0% {
    border-color: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
    border-top-color: var(--OWL-UI-COLOR-PRIMARY); }
  25% {
    border-color: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
    border-right-color: var(--OWL-UI-COLOR-PRIMARY); }
  50% {
    border-color: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
    border-bottom-color: var(--OWL-UI-COLOR-PRIMARY); }
  100% {
    border-color: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
    border-left-color: var(--OWL-UI-COLOR-PRIMARY); } }

@keyframes ou-loading_loadingbar {
  50% {
    border-left: 90px solid var(--OWL-UI-COLOR-PRIMARY-LIGHT);
    border-right: 0 solid var(--OWL-UI-COLOR-PRIMARY-LIGHT); } }

.ou-loading_loadingpie, .ou-loading_loadingbar {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.ou-loading_loadingpie {
  border: 20px solid var(--OWL-UI-COLOR-PRIMARY-LIGHT);
  border-top-color: var(--OWL-UI-COLOR-PRIMARY);
  box-shadow: 0 0 0 1px var(--OWL-UI-COLOR-PRIMARY-LIGHT);
  border-radius: 50%;
  animation: ou-loading_loadingpie infinite .8s linear; }

.ou-loading_loadingbar {
  background: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
  border-right: 90px solid var(--OWL-UI-COLOR-PRIMARY);
  border-left: 0 solid var(--OWL-UI-COLOR-PRIMARY);
  box-shadow: 0 0 0 1px var(--OWL-UI-COLOR-PRIMARY-LIGHT);
  animation: ou-loading_loadingbar infinite 1.5s linear; }
.ou-loading_exampleWrapper {
  position: relative;
  height: 120px; }
.ou-select_selecter {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #b8bdbf;
  cursor: pointer;
  width: 200px; }
  .ou-select_selecter .ou-select_arrow {
    width: 12px;
    height: 12px;
    margin-top: -7px;
    border-bottom: 2px solid #b8bdbf;
    border-left: 2px solid #b8bdbf;
    transition: all .2s;
    transform: rotate(-45deg); }
  .ou-select_selecter .ou-select_optionBox {
    min-width: 200px;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    left: -1px;
    z-index: 1; }
    .ou-select_selecter .ou-select_optionBox > div {
      position: relative;
      padding: 6px 12px;
      color: #a0a0a0;
      white-space: nowrap; }
      .ou-select_selecter .ou-select_optionBox > div:hover:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: #b8bdbf; }
      .ou-select_selecter .ou-select_optionBox > div:active {
        background: #b8bdbf;
        color: #f2f6f7; }
      .ou-select_selecter .ou-select_optionBox > div:after {
        content: '';
        position: absolute;
        top: -34px;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none; }
  .ou-select_selecter.ou-select_selectOpen .ou-select_arrow {
    transform: rotate(-225deg);
    margin-top: 0; }
  .ou-select_selecter.ou-select_selectOpen .ou-select_optionBox {
    display: block; }
  .ou-select_selecter.ou-select_disabled {
    opacity: .5;
    cursor: no-drop;
    background-color: #dfe4e6; }
  .ou-select_selecter:focus {
    outline: none; }
  .ou-select_selecter .ou-select_titleText {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden; }
  .ou-select_selecter .ou-select_selectTitle {
    position: relative;
    display: flex;
    height: 34px;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between; }
  .ou-select_selecter .ou-select_titleRight {
    margin-left: 20px;
    float: right; }

.ou-select_body {
  color: red; }
.ou-switch_wrapper {
  display: flex;
  align-items: center;
  cursor: pointer; }

.ou-switch_specialSwitch {
  width: 64px;
  padding: 4px;
  transition: all .3s;
  border-radius: 25px;
  background: var(--OWL-UI-COLOR-PRIMARY-DARK);
  display: flex; }
  .ou-switch_specialSwitch .ou-switch_labelOpen {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    display: none; }
  .ou-switch_specialSwitch .ou-switch_labelClose {
    position: relative;
    font-size: 16px;
    left: -13px;
    line-height: 20px;
    color: #fff;
    display: block; }
  .ou-switch_specialSwitch .ou-switch_toggle {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    transition: all .3s;
    top: .5px;
    left: 37px;
    position: relative;
    cursor: pointer; }

.ou-switch_defaultSwitch {
  box-sizing: border-box;
  width: 90px;
  padding: 7px;
  border: 3px solid #b8bdbf;
  transition: all .3s;
  border-radius: 25px;
  display: flex; }
  .ou-switch_defaultSwitch .ou-switch_labelOpen {
    position: relative;
    line-height: 25px;
    display: none; }
  .ou-switch_defaultSwitch .ou-switch_labelClose {
    position: relative;
    left: 13px;
    line-height: 25px;
    color: #b8bdbf;
    display: block; }
  .ou-switch_defaultSwitch .ou-switch_toggle {
    width: 27px;
    height: 27px;
    background: #b8bdbf;
    border-radius: 50%;
    transition: all .3s;
    left: 0;
    position: relative;
    cursor: pointer; }
    .ou-switch_defaultSwitch .ou-switch_toggle:hover {
      background: var(--OWL-UI-COLOR-PRIMARY); }

.ou-switch_specialSwitchButton {
  display: none; }
  .ou-switch_specialSwitchButton:checked + .ou-switch_specialSwitch {
    background: var(--OWL-UI-COLOR-PRIMARY); }
    .ou-switch_specialSwitchButton:checked + .ou-switch_specialSwitch label {
      left: 3px;
      background: #fff; }
    .ou-switch_specialSwitchButton:checked + .ou-switch_specialSwitch .ou-switch_labelClose {
      display: none; }
    .ou-switch_specialSwitchButton:checked + .ou-switch_specialSwitch .ou-switch_labelOpen {
      left: 15px;
      display: block;
      color: #fff; }

.ou-switch_defaultSwitchButton {
  display: none; }
  .ou-switch_defaultSwitchButton:checked + .ou-switch_defaultSwitch {
    border: 3px solid var(--OWL-UI-COLOR-PRIMARY); }
    .ou-switch_defaultSwitchButton:checked + .ou-switch_defaultSwitch label {
      left: 43px;
      background: var(--OWL-UI-COLOR-PRIMARY); }
    .ou-switch_defaultSwitchButton:checked + .ou-switch_defaultSwitch .ou-switch_labelClose {
      display: none; }
    .ou-switch_defaultSwitchButton:checked + .ou-switch_defaultSwitch .ou-switch_labelOpen {
      left: -20px;
      display: block;
      color: var(--OWL-UI-COLOR-PRIMARY); }
.ou-switch_demo {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.ou-switch_demoMsg {
  margin-left: 30px; }

.ou-switch_title {
  margin-bottom: 15px; }
.ou-icon_arrow-left {
  transform: rotate(90deg); }

.ou-icon_arrow-right {
  transform: rotate(-90deg); }
.ou-icon_icons {
  width: 110px;
  height: 68px;
  float: left;
  text-align: center;
  margin-bottom: 20px; }
  .ou-icon_icons p {
    margin: 0; }
.ou-tip_tip {
  display: inline-block; }

.ou-tip_tipContext {
  transition: opacity .4s;
  position: absolute;
  left: -99em;
  top: -99em;
  white-space: nowrap;
  opacity: 0;
  display: none;
  pointer-events: none;
  background: #000;
  color: #eee;
  border-radius: 3px;
  padding: 4px 8px;
  z-index: 1111; }
  .ou-tip_tipContext:after {
    content: '';
    position: absolute;
    border: 5px solid transparent; }
  .ou-tip_tipContext[data-pos="down"]:after {
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    border-bottom-color: #000; }
  .ou-tip_tipContext[data-pos="right"]:after {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-right-color: #000; }
  .ou-tip_tipContext[data-pos="left"]:after {
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-left-color: #000; }
  .ou-tip_tipContext[data-pos="up"]:after {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: #000; }
.ou-checkbox_cbGroup {
  position: relative; }

.ou-checkbox_cb {
  display: inline-block;
  cursor: pointer; }
  .ou-checkbox_cb svg {
    vertical-align: middle; }
  .ou-checkbox_cb:hover svg {
    fill: #ddd; }
.ou-radio_radio {
  display: inline-block;
  cursor: pointer; }
  .ou-radio_radio svg {
    vertical-align: middle; }
  .ou-radio_radio:hover svg[data-radio] {
    fill: #6c7173; }

.ou-radio_raGroup {
  position: relative; }
.ou-input_inputWrapper {
  position: relative;
  min-width: 200px; }

.ou-input_input {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 10px;
  font-size: 14px; }
  .ou-input_input::placeholder {
    color: #b8bdbf; }

.ou-input_mustFill {
  position: absolute;
  top: -3px;
  right: -14px;
  color: #e6175c;
  font-size: 16px; }

.ou-input_normal {
  border: 1px solid #b8bdbf;
  color: #6c7173; }
  .ou-input_normal:focus {
    outline: none;
    border-color: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset; }

.ou-input_success {
  border: 1px solid #b9e617;
  color: #b9e617; }
  .ou-input_success:focus {
    outline: none;
    border-color: #b9e617;
    box-shadow: 0 0 0 2px rgba(185, 230, 23, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) inset; }

.ou-input_error, .ou-input_input:invalid {
  border: 1px solid #e6175c;
  color: #e6175c; }
  .ou-input_error:focus, .ou-input_input:focus:invalid {
    outline: none;
    border-color: #e6175c;
    box-shadow: 0 0 0 2px rgba(230, 23, 92, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) inset; }

.ou-input_loadingPie {
  position: absolute;
  right: 15px;
  left: auto; }

.ou-input_icon {
  position: absolute;
  right: 15px;
  top: 7px; }

.ou-input_specialIcon {
  position: absolute;
  right: 15px;
  top: 7px;
  cursor: pointer; }

.ou-input_disabled {
  border: none;
  color: #6c7173;
  background: #DFE4E6;
  cursor: not-allowed; }
.ou-input_wrapper {
  display: flex;
  align-items: center; }

.ou-input_demo {
  margin-left: 30px; }

.ou-input_pwdInputwrapper {
  margin-top: 30px;
  width: 300px; }
.ou-button_button {
  display: flex;
  justify-content: center;
  line-height: 18px;
  height: 34px;
  padding: 8px 24px;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  color: #000;
  background-color: #eee;
  text-decoration: none;
  outline: none;
  cursor: pointer; }
  .ou-button_button:hover {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1); }

.ou-button_buttonGroup {
  display: flex;
  vertical-align: bottom; }
  .ou-button_buttonGroup .ou-button_button {
    border-left-width: 0; }
    .ou-button_buttonGroup .ou-button_button[data-selected="1"] {
      color: #fff;
      background-color: var(--OWL-UI-COLOR-PRIMARY); }
    .ou-button_buttonGroup .ou-button_button:first-of-type {
      border-left-width: 1px; }

.ou-button_disabled {
  cursor: default;
  opacity: .4;
  outline: none; }
  .ou-button_disabled:hover {
    box-shadow: none; }

.ou-button_outline {
  background: none;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .ou-button_outline:focus, .ou-button_outline:hover {
    color: rgba(0, 0, 0, 0.6);
    background-color: #eee;
    box-shadow: none; }

.ou-button_primary {
  color: #fff;
  background-color: var(--OWL-UI-COLOR-PRIMARY); }

.ou-button_primaryOutline {
  color: var(--OWL-UI-COLOR-PRIMARY);
  border-color: var(--OWL-UI-COLOR-PRIMARY);
  background-color: transparent; }
  .ou-button_primaryOutline:not(.ou-button_disabled):focus, .ou-button_primaryOutline:not(.ou-button_disabled):hover {
    color: #fff;
    background-color: var(--OWL-UI-COLOR-PRIMARY); }
.ou-button_buttonWrapper {
  display: flex; }
  .ou-button_buttonWrapper button {
    margin: 10px 10px 30px 0; }

.ou-button_buttonGroupWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px; }

.ou-button_buttonGroup {
  margin-right: 20px; }

.ou-button_buttonBig {
  width: 50%; }
@charset "UTF-8";
.ou-lightbox_lbWrap {
  height: 0; }

.ou-lightbox_lb {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  overflow: auto; }

.ou-lightbox_view {
  display: inline-block;
  left: 50%;
  top: 120px;
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  position: relative;
  transform: translateX(-50%); }

.ou-lightbox_x {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 4px;
  font-size: 22px;
  cursor: pointer;
  color: #999; }
  .ou-lightbox_x:after {
    content: '\D7'; }
  .ou-lightbox_x:hover {
    color: #000; }

.ou-lightbox_open, .ou-lightbox_close {
  display: inline-block;
  cursor: pointer; }
.ou-grid_gridFixed {
  position: relative;
  width: 100%;
  border: 1px solid #dee4e6; }
  .ou-grid_gridFixed [data-role="col"] {
    display: flex;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis; }

.ou-grid_ghead, [data-role="row"] {
  display: flex; }

.ou-grid_ghead {
  overflow: hidden; }
  .ou-grid_ghead [data-role="row"] {
    width: 100%; }
  .ou-grid_ghead [data-role="col"] {
    position: relative;
    border-bottom: 1px solid #dee4e6;
    border-right: 1px solid #dee4e6;
    padding-left: 12px; }
    .ou-grid_ghead [data-role="col"] .ou-grid_loading-pie {
      right: 4px;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
      display: inline-block;
      border-width: 9px; }
    .ou-grid_ghead [data-role="col"]:last-child {
      border-right: none; }
  .ou-grid_ghead [data-sort] {
    cursor: pointer;
    position: relative; }
    .ou-grid_ghead [data-sort]:after, .ou-grid_ghead [data-sort]:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 0;
      height: 0;
      border: 5px solid transparent; }
    .ou-grid_ghead [data-sort]:after {
      border-top-color: #ccc;
      margin-top: 1px; }
    .ou-grid_ghead [data-sort]:before {
      border-bottom-color: #ccc;
      margin-top: -11px; }
    .ou-grid_ghead [data-sort]:hover:after {
      border-top-color: #666; }
    .ou-grid_ghead [data-sort]:hover:before {
      border-bottom-color: #666; }
  .ou-grid_ghead [data-sort="0"]:after {
    display: none; }
  .ou-grid_ghead [data-sort="0"]:before {
    margin-top: -8px;
    border-bottom-color: #666; }
  .ou-grid_ghead [data-sort="1"]:before {
    display: none; }
  .ou-grid_ghead [data-sort="1"]:after {
    border-top-color: #666;
    margin-top: -2px; }

.ou-grid_gbody {
  position: relative;
  overflow: auto; }
  .ou-grid_gbody [data-role="col"] {
    justify-content: center;
    flex-flow: column wrap; }
  .ou-grid_gbody [data-role="row"] {
    flex-flow: row; }
    .ou-grid_gbody [data-role="row"]:nth-child(even) {
      background: #f2f6f7; }
    .ou-grid_gbody [data-role="row"]:nth-child(odd) {
      background: #fff; }
    .ou-grid_gbody [data-role="row"]:hover {
      background: #e6f0fa; }
      .ou-grid_gbody [data-role="row"]:hover:nth-child(even) {
        background: #e6f0fa; }

.ou-grid_loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); }
.ou-flex_flex {
  display: flex; }
  .ou-flex_flex > div:last-child {
    margin-right: 0 !important; }

.ou-flex_flexMid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.ou-flex_flexSplit {
  display: flex;
  justify-content: space-between; }
  .ou-flex_flexSplit:after, .ou-flex_flexSplit:before {
    content: none; }
.ou-label_label {
  font-size: 12px;
  font-weight: 400;
  display: inline;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid transparent;
  position: relative;
  vertical-align: middle;
  padding: 4px 8px;
  letter-spacing: .01em;
  cursor: pointer; }

.ou-label_outline {
  background: none;
  border: 1px solid rgba(107, 84, 153, 0.2); }
  .ou-label_outline:hover {
    color: rgba(59, 63, 64, 0.65); }

.ou-label_defaultlabel {
  background: #dfe4e6;
  color: #3b3f40; }

.ou-label_primarylabel {
  background: var(--OWL-UI-COLOR-PRIMARY);
  color: #f2f6f7; }

.ou-label_errorlabel {
  background: #e6175c;
  color: #f2f6f7; }

.ou-label_successlabel {
  background: #b9e617;
  color: #f2f6f7; }

.ou-label_warninglabel {
  background: #ffd919;
  color: #3b3f40; }

.ou-label_invertedlabel {
  background: #f2f6f7;
  color: #3b3f40; }

.ou-label_defaultoutline {
  border: 1px solid rgba(107, 84, 153, 0.2);
  background: transparent;
  color: #3b3f40; }
  .ou-label_defaultoutline:hover {
    color: rgba(59, 63, 64, 0.65); }

.ou-label_primaryoutline {
  border: 1px solid var(--OWL-UI-COLOR-PRIMARY);
  background: transparent;
  color: var(--OWL-UI-COLOR-PRIMARY); }
  .ou-label_primaryoutline:hover {
    color: var(--OWL-UI-COLOR-PRIMARY-LIGHT); }

.ou-label_erroroutline {
  border: 1px solid #e6175c;
  background: transparent;
  color: #e6175c; }
  .ou-label_erroroutline:hover {
    color: rgba(230, 23, 92, 0.65); }

.ou-label_successoutline {
  border: 1px solid #b9e617;
  background: transparent;
  color: #b9e617; }
  .ou-label_successoutline:hover {
    color: rgba(185, 230, 23, 0.65); }

.ou-label_warningoutline {
  border: 1px solid #ffd919;
  background: transparent;
  color: #ffd919; }
  .ou-label_warningoutline:hover {
    color: rgba(255, 217, 25, 0.65); }

.ou-label_invertedoutline {
  border: 1px solid #f2f6f7;
  background: transparent;
  color: #f2f6f7; }
  .ou-label_invertedoutline:hover {
    color: rgba(242, 246, 247, 0.65); }

.ou-label_defaulttag {
  color: #3b3f40; }

.ou-label_primarytag {
  color: var(--OWL-UI-COLOR-PRIMARY); }

.ou-label_errortag {
  color: #e6175c; }

.ou-label_successtag {
  color: #b9e617; }

.ou-label_warningtag {
  color: #ffd919; }

.ou-label_invertedtag {
  color: #f2f6f7; }

.ou-label_tag {
  padding: 0;
  background: none;
  font-weight: 800;
  letter-spacing: .02em; }

.ou-label_badge {
  padding: 4px 10px;
  border-radius: 14px; }

.ou-label_x {
  display: inline-block; }

.ou-label_iconx {
  margin-left: 4px;
  vertical-align: -2px; }

.ou-label_defaultlabelx {
  fill: #3b3f40; }

.ou-label_primarylabelx {
  fill: #f2f6f7; }

.ou-label_errorlabelx {
  fill: #f2f6f7; }

.ou-label_successlabelx {
  fill: #f2f6f7; }

.ou-label_warninglabelx {
  fill: #3b3f40; }

.ou-label_invertedlabelx {
  fill: #3b3f40; }

.ou-label_defaultoutlinex {
  fill: #3b3f40; }

.ou-label_primaryoutlinex {
  fill: var(--OWL-UI-COLOR-PRIMARY); }

.ou-label_erroroutlinex {
  fill: #e6175c; }

.ou-label_successoutlinex {
  fill: #b9e617; }

.ou-label_warningoutlinex {
  fill: #ffd919; }

.ou-label_invertedoutlinex {
  fill: #f2f6f7; }

.ou-label_defaulttagx {
  fill: #3b3f40; }

.ou-label_primarytagx {
  fill: var(--OWL-UI-COLOR-PRIMARY); }

.ou-label_errortagx {
  fill: #e6175c; }

.ou-label_successtagx {
  fill: #b9e617; }

.ou-label_warningtagx {
  fill: #ffd919; }

.ou-label_invertedtagx {
  fill: #f2f6f7; }

.ou-label_labelInGroup {
  margin: 3px; }

.ou-label_focused {
  border: 1px solid #6C7173; }

.ou-label_newTag {
  border: 1px dashed #3b3f40;
  display: inline-block; }

.ou-label_newTagInput {
  display: none;
  width: 84px;
  height: 28px;
  border: 1px solid #b8bdbf;
  color: #6c7173; }
  .ou-label_newTagInput:focus {
    outline: none;
    border-color: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset; }

.ou-label_showInput {
  border: none;
  padding: 0; }
  .ou-label_showInput span {
    display: none; }
  .ou-label_showInput .ou-label_newTagInput {
    display: inline-block;
    padding: 5px; }
.ou-label_group {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin: 20px; }

.ou-label_dark {
  background-color: #222;
  width: 100px;
  text-align: center; }

.ou-label_closableTagGroup {
  width: 100%;
  display: flex; }
  .ou-label_closableTagGroup .ou-label_closableTag {
    margin: 20px; }

.ou-label_labelGroup {
  width: 100%;
  display: flex;
  padding: 20px; }
.ou-dual-list_dual {
  width: 46%;
  border: 1px solid #b8bdbf; }
  .ou-dual-list_dual .ou-dual-list_input {
    margin: 12px 12px 16px 12px; }

.ou-dual-list_dualWrapper {
  display: flex; }

.ou-dual-list_lists {
  max-height: 300px;
  min-height: 300px;
  overflow-x: hidden;
  overflow-y: auto; }

.ou-dual-list_listWrapper {
  padding: 0 10px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 40px;
  width: 100%;
  cursor: pointer; }
  .ou-dual-list_listWrapper:nth-of-type(odd) {
    background: #fafafb; }
  .ou-dual-list_listWrapper .ou-dual-list_list {
    width: 90%;
    color: #919799;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .ou-dual-list_listWrapper:hover {
    background-color: var(--OWL-UI-COLOR-PRIMARY-LIGHT); }
    .ou-dual-list_listWrapper:hover .ou-dual-list_list {
      color: #fff; }

.ou-dual-list_highlight {
  background-color: #ffd919; }

.ou-dual-list_arrow {
  display: flex;
  flex-direction: column;
  width: 8%;
  padding: 0 12px; }
  .ou-dual-list_arrow span {
    text-align: center; }
  .ou-dual-list_arrow .ou-dual-list_doubleRight {
    margin-top: 100px;
    cursor: pointer; }
  .ou-dual-list_arrow .ou-dual-list_doubleLeft {
    margin-top: 80px;
    cursor: pointer; }
.ou-dual-list_dualGroup {
  width: 650px; }

.ou-dual-list_code {
  margin-top: 30px; }
[data-role="tab-head"] {
  padding: 12px 36px 16px 36px;
  cursor: pointer; }
  [data-role="tab-head"][data-selected="1"] {
    border-bottom: 2px solid var(--OWL-UI-COLOR-PRIMARY);
    cursor: default; }

[data-role="tab-content"][data-selected="1"] {
  display: block; }

[data-role="tab-content"][data-selected="0"] {
  display: none; }

.ou-tab_tHead {
  display: flex;
  font-size: 20px;
  line-height: 26px;
  border-bottom: 1px solid #dfe4e6; }
@charset "UTF-8";
.ou-page_page {
  display: flex; }
  .ou-page_page[data-align="center"] {
    justify-content: center; }
  .ou-page_page[data-align="right"] {
    justify-content: flex-end; }
  .ou-page_page [data-page] {
    cursor: pointer; }
    .ou-page_page [data-page]:after {
      content: attr(data-page); }
  .ou-page_page [data-page="..."] {
    cursor: default; }
  .ou-page_page [data-page="prev"]:after {
    content: '\2190'; }
  .ou-page_page [data-page="next"]:after {
    content: '\2192'; }
  .ou-page_page ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; }
  .ou-page_page li {
    padding: 8px 16px;
    position: relative; }
    .ou-page_page li.ou-page_on:before, .ou-page_page li:hover:before {
      content: '';
      position: absolute;
      height: 2px;
      bottom: 2px;
      left: 0;
      width: 100%;
      background: var(--OWL-UI-COLOR-PRIMARY); }
.ou-flex_p {
  margin: 0;
  padding: 0;
  background: #d9b8fb;
  text-align: center;
  color: #fff;
  padding: 4px; }

.ou-flex_boxs > div {
  margin-bottom: 20px; }

.ou-flex_midContent {
  height: 80px;
  border: 1px solid #ccc; }

.ou-flex_social {
  border: 1px solid #ccc; }
  .ou-flex_social p {
    margin: 0;
    padding: 0;
    font-size: 12px; }

.ou-flex_avatar {
  width: 76px;
  height: 76px;
  background: #ccc;
  text-align: center; }
.ou-multi-select_selecter {
  width: 100%;
  cursor: pointer;
  position: relative; }

.ou-multi-select_searchField {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  min-height: 46px;
  font-size: 14px;
  border: 1px solid #b8bdbf;
  color: #6c7173; }
  .ou-multi-select_searchField:focus, .ou-multi-select_searchField:active {
    outline: none;
    border-color: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset; }

.ou-multi-select_labelg {
  display: inline; }

.ou-multi-select_invisibleInput {
  border: none;
  outline: none;
  background-color: transparent;
  display: inline;
  vertical-align: middle; }

.ou-multi-select_optionBox {
  display: none;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-style: none;
  max-height: 280px;
  overflow-y: scroll;
  position: absolute;
  box-shadow: 0 2px 6px #ccc;
  top: auto;
  z-index: 1; }
  .ou-multi-select_optionBox .ou-multi-select_option {
    box-sizing: border-box;
    position: relative;
    padding: 6px 12px;
    color: #a0a0a0;
    white-space: nowrap; }
    .ou-multi-select_optionBox .ou-multi-select_option:focus {
      outline: none; }
    .ou-multi-select_optionBox .ou-multi-select_option:active {
      background: #b8bdbf;
      color: #f2f6f7; }
    .ou-multi-select_optionBox .ou-multi-select_option:hover {
      background-color: #DFE4E6; }
  .ou-multi-select_optionBox .ou-multi-select_normal {
    position: relative;
    padding: 6px 12px;
    color: #a0a0a0;
    white-space: nowrap; }
  .ou-multi-select_optionBox .ou-multi-select_focused {
    position: relative;
    padding: 6px 12px;
    color: #a0a0a0;
    white-space: nowrap;
    background-color: #DFE4E6; }
  .ou-multi-select_optionBox .ou-multi-select_selected {
    position: relative;
    color: var(--OWL-UI-COLOR-PRIMARY); }
    .ou-multi-select_optionBox .ou-multi-select_selected:after {
      content: "\2713";
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%); }
  .ou-multi-select_optionBox .ou-multi-select_disablePointer {
    pointer-events: none; }

.ou-multi-select_selectOpen .ou-multi-select_optionBox {
  display: block; }

.ou-multi-select_disabled {
  opacity: .5;
  background-color: #dfe4e6;
  cursor: no-drop; }

.ou-multi-select_disabledLabelg {
  display: inline;
  pointer-events: none; }

.ou-multi-select_loadingOption {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 33px;
  padding: 6px 12px; }

.ou-multi-select_loading {
  position: absolute;
  right: 0;
  left: auto; }
.ou-multi-select_demoGroup {
  display: flex; }

.ou-multi-select_multiSelect {
  width: 500px; }

.ou-multi-select_code {
  margin: 0 50px; }
.ou-complex-query_item, .ou-complex-query_editItemLi {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ou-complex-query_com {
  position: relative;
  border: 1px solid #ccc;
  background: #fff; }
  .ou-complex-query_com ul {
    margin: 0;
    padding: 0; }

.ou-complex-query_input {
  height: 34px;
  outline: none;
  padding-left: 8px;
  border: none;
  width: 100%; }

.ou-complex-query_categories {
  float: left;
  color: #bbb; }
  .ou-complex-query_categories li {
    float: left;
    margin-right: 8px;
    padding-right: 8px;
    position: relative;
    cursor: pointer; }
    .ou-complex-query_categories li:not(:last-child):after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 60%;
      background: #ccc; }
    .ou-complex-query_categories li[data-on] {
      cursor: default;
      color: var(--OWL-UI-COLOR-PRIMARY); }

.ou-complex-query_iconFilter {
  float: left;
  margin-right: 4px;
  fill: #bbb; }

.ou-complex-query_loading {
  position: static;
  width: 0;
  height: 0;
  margin-right: 40px;
  display: inline-block;
  transform: translate(0, 0);
  float: left; }

.ou-complex-query_focus {
  border-color: var(--OWL-UI-COLOR-PRIMARY); }
  .ou-complex-query_focus.ou-complex-query_hasItems .ou-complex-query_items {
    display: block; }
  .ou-complex-query_focus.ou-complex-query_isEdit .ou-complex-query_editItems {
    display: block; }

.ou-complex-query_items, .ou-complex-query_editItems {
  background: #fff;
  display: none;
  border: 1px solid #ccc;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 42px;
  z-index: 1; }

.ou-complex-query_itemView {
  max-height: 300px;
  overflow-y: auto; }
  .ou-complex-query_itemView dd, .ou-complex-query_itemView dl {
    margin: 0;
    padding: 0; }
  .ou-complex-query_itemView dt {
    padding: 12px 0;
    padding-right: 12px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    cursor: pointer; }
  .ou-complex-query_itemView dl + dl dt {
    border-top: 1px solid #ccc; }

.ou-complex-query_itemViewCheckbox {
  padding-left: 16px; }
  .ou-complex-query_itemViewCheckbox > svg {
    float: left;
    margin-right: 20px; }

.ou-complex-query_selectAll {
  padding: 12px;
  border-top: 1px solid #eee; }
  .ou-complex-query_selectAll a {
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    color: var(--OWL-UI-COLOR-PRIMARY); }

.ou-complex-query_isFold dd {
  display: none; }

.ou-complex-query_isFold dt {
  border-bottom: none; }

.ou-complex-query_isFold [is-fold="true"] {
  transform: rotate(180deg); }

.ou-complex-query_arrowRight {
  display: none;
  transform: rotate(90deg); }

.ou-complex-query_itemHasChild {
  cursor: pointer; }
  .ou-complex-query_itemHasChild .ou-complex-query_arrowRight {
    display: block; }

.ou-complex-query_highlight {
  background: #eec447; }

.ou-complex-query_itemCheckbox {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 16px; }

.ou-complex-query_itemdd, .ou-complex-query_editItemLi {
  cursor: pointer; }
  .ou-complex-query_itemdd:hover, .ou-complex-query_editItemLi:hover {
    background: #eee; }
  .ou-complex-query_itemdd:after, .ou-complex-query_editItemLi:after {
    content: '';
    display: block;
    clear: both; }

.ou-complex-query_item {
  width: 90%;
  float: left; }

.ou-complex-query_editItemLi {
  padding: 12px; }
  .ou-complex-query_editItemLi svg {
    fill: #e6175c;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 16px; }

.ou-complex-query_selectedItems {
  color: var(--OWL-UI-COLOR-PRIMARY);
  padding-left: 8px;
  cursor: pointer; }

.ou-complex-query_editItems {
  display: none; }
  .ou-complex-query_editItems ul {
    max-height: 300px;
    overflow-y: auto;
    display: block; }

.ou-complex-query_isEdit .ou-complex-query_items {
  display: none !important; }

.ou-complex-query_backTo {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee; }

.ou-complex-query_editRemoveAll {
  color: var(--OWL-UI-COLOR-PRIMARY);
  border-top: 1px solid #eee;
  padding: 8px; }
  .ou-complex-query_editRemoveAll a {
    cursor: pointer; }
.ou-date-picker_cal {
  fill: var(--OWL-UI-COLOR-PRIMARY-LIGHT);
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%); }

.ou-date-picker_calBox {
  padding: 12px;
  position: absolute;
  top: 35px;
  left: 0;
  background: #fff;
  width: 380px;
  box-shadow: 0 2px 6px #ccc;
  display: none;
  z-index: 1; }

.ou-date-picker_focused .ou-date-picker_calBox {
  display: block; }

.ou-date-picker_picker {
  position: relative;
  height: 34px;
  outline: 1px solid #ccc;
  width: 140px;
  display: inline-block; }
  .ou-date-picker_picker:focus {
    outline-color: var(--OWL-UI-COLOR-PRIMARY); }
  .ou-date-picker_picker.ou-date-picker_hasTime {
    width: 160px; }

.ou-date-picker_colorfulWeekend [data-day="6"] {
  color: #00f; }

.ou-date-picker_colorfulWeekend [data-day="0"] {
  color: #f00; }

.ou-date-picker_calTable {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }
  .ou-date-picker_calTable td {
    text-align: center; }
  .ou-date-picker_calTable th {
    font-weight: 300;
    width: 44px;
    color: #888; }

.ou-date-picker_calTop {
  padding: 0 8px;
  font-size: 18px;
  margin-bottom: 12px; }
  .ou-date-picker_calTop strong {
    margin-left: 8px;
    color: var(--OWL-UI-COLOR-PRIMARY); }

.ou-date-picker_date {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  cursor: default; }
  .ou-date-picker_date:hover {
    background: var(--OWL-UI-COLOR-PRIMARY-LIGHT); }

.ou-date-picker_dateNull {
  visibility: hidden; }

.ou-date-picker_dateIgnore {
  opacity: .2;
  cursor: no-drop; }
  .ou-date-picker_dateIgnore:hover {
    background: none; }

.ou-date-picker_today {
  color: #fff;
  background: var(--OWL-UI-COLOR-PRIMARY); }

.ou-date-picker_calNext {
  margin-left: 16px; }

.ou-date-picker_calPrev, .ou-date-picker_calNext {
  cursor: pointer;
  padding: 0 4px;
  color: #808080; }
  .ou-date-picker_calPrev:hover, .ou-date-picker_calNext:hover {
    color: #000; }
  .ou-date-picker_calPrev[ignore], .ou-date-picker_calNext[ignore] {
    opacity: .2;
    cursor: no-drop; }

.ou-date-picker_value {
  padding-left: 32px;
  height: 34px;
  line-height: 34px; }
.ou-time-picker_timebox {
  display: none;
  width: 90px;
  height: 150px;
  overflow: auto;
  box-shadow: 0 2px 6px #ccc;
  position: absolute;
  left: 0;
  top: 35px;
  background: #fff;
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none; }
  .ou-time-picker_timebox li {
    padding: 2px;
    padding-left: 8px;
    cursor: pointer; }
    .ou-time-picker_timebox li:hover {
      background: #e4e8f1; }

.ou-time-picker_clock {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--OWL-UI-COLOR-PRIMARY-LIGHT); }

.ou-time-picker_input {
  line-height: 1; }

.ou-time-picker_timepicker {
  outline: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding-left: 28px;
  width: 90px;
  height: 34px;
  position: relative; }
  .ou-time-picker_timepicker:focus {
    outline-color: var(--OWL-UI-COLOR-PRIMARY); }
    .ou-time-picker_timepicker:focus .ou-time-picker_timebox {
      display: block; }
.ou-message_message {
  position: fixed;
  z-index: 900000;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  padding: 10px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  background-color: #fff; }

.ou-message_messageIcon {
  position: absolute;
  border-radius: 2px 0 0 2px;
  padding: 10px;
  left: 0;
  top: 0; }

.ou-message_messageContent {
  margin-left: 38px;
  position: relative;
  height: 20px;
  line-height: 20px; }
  .ou-message_messageContent p {
    margin: 0 34px 0 0;
    white-space: nowrap;
    color: #8391a5;
    text-align: justify; }

.ou-message_customIcon {
  margin-right: 8px; }

.ou-message_closeBtn {
  top: 0;
  right: 0;
  position: absolute;
  cursor: pointer; }

.ou-message_hasIcon {
  margin-left: 0; }

.ou-message_slideDown {
  animation: ou-message_slideDown .3s ease-out forwards; }

@keyframes ou-message_slideDown {
  0% {
    opacity: 0;
    top: -100px; }
  50% {
    opacity: .5;
    top: 10px; }
  100% {
    top: 20px; } }

.ou-message_slideUp {
  animation: ou-message_slideUp .3s ease-out forwards; }

@keyframes ou-message_slideUp {
  0% {
    top: 20px; }
  50% {
    opacity: .5;
    top: 10px; }
  100% {
    opacity: 0;
    top: -100px; } }

.ou-message_primary {
  background-color: var(--OWL-UI-COLOR-PRIMARY);
  fill: #fff; }

.ou-message_error {
  background-color: #e6175c;
  fill: #fff; }

.ou-message_warning {
  background-color: #ffd919;
  fill: #fff; }

.ou-message_success {
  background-color: #b9e617;
  fill: #fff; }
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}
:root {
  --OWL-UI-COLOR-PRIMARY: #8962d9;
  --OWL-UI-COLOR-PRIMARY-LIGHT: #cab6f2;
  --OWL-UI-COLOR-PRIMARY-DARK: #6b5499; }

body {
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #393939;
  background: #fff;
  overflow-y: scroll;
  margin: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

footer {
  margin-top: 40px;
  color: #590aaa; }
  footer > div {
    padding-top: 12px;
    padding-bottom: 20px;
    border-top: 1px solid #590aaa; }

.main {
  padding-top: 55px;
  min-height: calc(100vh - 61px - 55px); }

.w1120 {
  width: 1120px;
  margin: 0 auto; }

.fbox {
  display: flex; }
  .fbox.-sb {
    justify-content: space-between; }
  .fbox.-around > div:nth-child(1) {
    flex: 1; }

.btn {
  cursor: pointer;
  text-decoration: none;
  font-size: .8rem;
  display: inline-block;
  padding: 8px 12px;
  border-radius: .2rem;
  color: white;
  border: 1px solid white;
  font-weight: 500;
  transition: all .3s; }

.btn:hover {
  color: #590aaa;
  background-color: white; }

.ou-app_badges a {
  display: inline-block;
  margin-right: 4px; }
footer li {
  margin-left: 8px;
  display: flex;
  align-items: center; }

footer .ou-footer_logo {
  width: 98px; }

footer svg {
  width: 24px;
  vertical-align: middle;
  margin-left: 8px; }

footer a {
  color: #590aaa; }
header {
  background: #590aaa;
  padding: 4px 0;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 878787; }
  header li {
    margin-left: 12px; }
  header svg {
    vertical-align: -6px;
    margin-right: 4px; }
  header h1 {
    font-family: Raleway;
    font-size: 16px;
    font-weight: inherit; }
  header a {
    color: #fff; }

.ou-header_link {
  font-size: 14px;
  display: flex;
  align-items: center; }
  .ou-header_link a {
    opacity: .7;
    padding: 0 4px;
    position: relative; }
    .ou-header_link a:after {
      transition: all .3s;
      width: 0;
      left: 50%;
      transform: translateX(-50%); }
    .ou-header_link a:hover {
      opacity: 1; }
      .ou-header_link a:hover:after {
        position: absolute;
        bottom: -5px;
        height: 2px;
        width: 100%;
        background: #fff; }

.ou-header_ver {
  font-family: 'Aref Ruqaa';
  font-size: 13px;
  margin-left: 8px;
  opacity: .7; }
