@import "../global.scss";

@mixin button-fill($text-color, $back-color) {
  color: $text-color;
  background-color: $back-color;
}

.button {
  display: flex;
  justify-content: center;
  line-height: 18px;
  height: 34px;
  padding: 8px 24px;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  @include button-fill(#000, #eee);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, .1);
  }
}

.buttonGroup {
  display: flex;
  vertical-align: bottom;
  .button {
    border-left-width: 0;
    &[data-selected="1"] {
      @include button-fill(#fff, var(--OWL-UI-COLOR-PRIMARY));
    }
    &:first-of-type {
      border-left-width: 1px;
    }
  }
}

.disabled {
  cursor: default;
  opacity: .4;
  outline: none;
  &:hover {
    box-shadow: none;
  }
}

.outline {
  background: none;
  font-weight: 400;
  color: rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.2);
  &:focus, &:hover {
    @include button-fill(rgba(0, 0, 0, .6), #eee);
    box-shadow: none;
  }
}

.primary {
  @include button-fill(#fff, var(--OWL-UI-COLOR-PRIMARY));
}

.primaryOutline {
  color: var(--OWL-UI-COLOR-PRIMARY);
  border-color: var(--OWL-UI-COLOR-PRIMARY);
  background-color: transparent;
  &:not(.disabled) {
    &:focus, &:hover {
      @include button-fill(#fff, var(--OWL-UI-COLOR-PRIMARY));
    }
  }
}