.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.specialSwitch {
  width: 64px;
  padding: 4px;
  transition: all .3s;
  border-radius: 25px;
  background: var(--OWL-UI-COLOR-PRIMARY-DARK);
  display: flex;
  .labelOpen {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    display: none;
  }
  .labelClose {
    position: relative;
    font-size: 16px;
    left: -13px;
    line-height: 20px;
    color: #fff;
    display: block;
  }
  .toggle {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    transition: all .3s;
    top: .5px;
    left: 37px;
    position: relative;
    cursor: pointer;
  }
}

.defaultSwitch {
  width: 90px;
  padding: 7px;
  border: 3px solid #b8bdbf;
  transition: all .3s;
  border-radius: 25px;
  display: flex;
  .labelOpen {
    position: relative;
    line-height: 25px;
    display: none;
  }
  .labelClose {
    position: relative;
    left: 13px;
    line-height: 25px;
    color: #b8bdbf;
    display: block;
  }
  .toggle {
    width: 27px;
    height: 27px;
    background: #b8bdbf;
    border-radius: 50%;
    transition: all .3s;
    left: 0;
    position: relative;
    cursor: pointer;
    &:hover {
      background: var(--OWL-UI-COLOR-PRIMARY);
    }
  }
}

.specialSwitchButton {
  display: none;
  &:checked {
    & + .specialSwitch {
      background: var(--OWL-UI-COLOR-PRIMARY);
      label {
        left: 3px;
        background: #fff;
      }
      .labelClose {
        display: none;
      }
      .labelOpen {
        left: 15px;
        display: block;
        color: #fff;
      }
    }
  }
}
.defaultSwitchButton {
  display: none;
  &:checked {
    & + .defaultSwitch {
      border: 3px solid var(--OWL-UI-COLOR-PRIMARY);
      label {
        left: 43px;
        background: var(--OWL-UI-COLOR-PRIMARY);
      }
      .labelClose {
        display: none;
      }
      .labelOpen {
        left: -20px;
        display: block;
        color: var(--OWL-UI-COLOR-PRIMARY);
      }
    }
  }
}
