@mixin label($text-color, $back-color) {
  background: $back-color;
  color: $text-color;
}

$labelBorderWidth: 1px;

//typ
.label {
  font-size: 12px;
  font-weight: 400;
  display: inline;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid transparent;
  position: relative;
  vertical-align: middle;
  padding: (4px - $labelBorderWidth) (8px - $labelBorderWidth);
  letter-spacing: .01em;
  cursor: pointer;
}

.outline {
  background: none;
  border: 1px solid rgba(#6b5499, .2);
  &:hover {
    color: rgba(#3b3f40, .65);
  }
}

//status for label
.defaultlabel {
  @include label(#3b3f40, #dfe4e6)
}
.primarylabel {
  @include label(#f2f6f7, var(--OWL-UI-COLOR-PRIMARY))
}
.errorlabel {
  @include label(#f2f6f7, #e6175c)
}
.successlabel {
  @include label(#f2f6f7, #b9e617)
}
.warninglabel {
  @include label(#3b3f40, #ffd919)
}
.invertedlabel {
  @include label(#3b3f40, #f2f6f7);
}


//status for outline
.defaultoutline {
  border: 1px solid rgba(#6b5499, .2);
  @include label(#3b3f40, transparent);
  &:hover {
    color: rgba(#3b3f40, .65);
  }
}
.primaryoutline {
  border: 1px solid var(--OWL-UI-COLOR-PRIMARY);
  @include label(var(--OWL-UI-COLOR-PRIMARY), transparent);
  &:hover {
    color: var(--OWL-UI-COLOR-PRIMARY-LIGHT)
  }
}
.erroroutline {
  border: 1px solid #e6175c;
  @include label(#e6175c, transparent);
  &:hover {
    color: rgba(#e6175c, .65);
  }
}
.successoutline {
  border: 1px solid #b9e617;
  @include label(#b9e617, transparent);
  &:hover {
    color: rgba(#b9e617, .65);
  }
}
.warningoutline {
  border: 1px solid #ffd919;
  @include label(#ffd919, transparent);
  &:hover {
    color: rgba(#ffd919, .65);
  }
}
.invertedoutline {
  border: 1px solid #f2f6f7;
  @include label(#f2f6f7, transparent);
  &:hover {
    color: rgba(#f2f6f7, .65);
  }
}

//status for tags
.defaulttag {
  color: #3b3f40;
}
.primarytag {
  color: var(--OWL-UI-COLOR-PRIMARY);
}
.errortag {
  color: #e6175c;
}
.successtag {
  color: #b9e617;
}
.warningtag {
  color: #ffd919;
}
.invertedtag {
  color: #f2f6f7;
}
.tag {
  padding: 0;
  background: none;
  font-weight: 800;
  letter-spacing: .02em;
}

.badge {
  padding: (4px - $labelBorderWidth) (10px - $labelBorderWidth);
  border-radius: 14px;
}

.x {
  display: inline-block;
}

.iconx {
  margin-left: 4px;
  vertical-align: -2px;
}

//color for x
.defaultlabelx {
  fill: #3b3f40;
}
.primarylabelx {
  fill: #f2f6f7;
}
.errorlabelx {
  fill: #f2f6f7;
}
.successlabelx {
  fill: #f2f6f7;
}
.warninglabelx {
  fill: #3b3f40;
}
.invertedlabelx {
  fill: #3b3f40;
}

.defaultoutlinex {
  fill: #3b3f40;
}
.primaryoutlinex {
  fill: var(--OWL-UI-COLOR-PRIMARY);
}
.erroroutlinex {
  fill: #e6175c;
}
.successoutlinex {
  fill: #b9e617;
}
.warningoutlinex {
  fill: #ffd919;
}
.invertedoutlinex {
  fill: #f2f6f7;
}

.defaulttagx {
  fill: #3b3f40;
}
.primarytagx {
  fill: var(--OWL-UI-COLOR-PRIMARY);
}
.errortagx {
  fill: #e6175c;
}
.successtagx {
  fill: #b9e617;
}
.warningtagx {
  fill: #ffd919;
}
.invertedtagx {
  fill: #f2f6f7;
}

.labelInGroup {
  margin-top: (4px - $labelBorderWidth);
  margin-right: (4px - $labelBorderWidth);
}

// focused default outline badge label
.focused {
  border: 1px solid #6C7173;
}
