.wrapper {
  display: flex;
  align-items: center;
}
.submit {
  padding: 8px 24px;
  margin-left: 30px;
  background-color: #8962d9;
  color: #fff;
}
.demo {
  margin-left: 30px;
}
.pwdInputwrapper {
  margin-top: 30px;
}
