$_colorPrimary: rgba(137,98,217,.2);
$_colorPrimary2 : hsl(260,67.5,69.8);

@keyframes loadingpie {
  @each $num, $direction in (0%, top), (25%, right), (50%, bottom), (100%, left) {
    #{$num}{
      border-color: $_colorPrimary;
      border-#{$direction}-color: $_colorPrimary2;
    }
  }
}

@keyframes loadingbar {
  50%{
    border-left: 90px solid $_colorPrimary;
    border-right: 0 solid $_colorPrimary;
  }
}


.loadingpie, .loadingbar{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loadingpie{
  border: 20px solid $_colorPrimary;
  border-top-color: $_colorPrimary2;
  box-shadow: 0 0 0 1px $_colorPrimary;
  border-radius: 50%;
  animation: loadingpie infinite .8s linear;
}

.loadingbar{
  background: $_colorPrimary;
  border-right: 90px solid $_colorPrimary2;
  border-left: 0 solid $_colorPrimary2;
  box-shadow: 0 0 0 1px $_colorPrimary;
  animation: loadingbar infinite 1.5s linear;
}
