[data-role="tab-head"] {
  padding: 12px 36px 16px 36px;
  cursor: pointer;
  &[data-selected="1"] {
    border-bottom : 2px solid var(--OWL-UI-COLOR-PRIMARY);
    cursor: default;
  }
}
[data-role="tab-content"] {
  &[data-selected="1"] {
    display: block;
  }
  &[data-selected="0"] {
    display: none;
  }
}
.tHead {
  display: flex;
  font-size: 20px;
  line-height: 26px;
  border-bottom: 1px solid #dfe4e6;
}
