.gridFixed {
  position: relative;
  width: 100%;
  border: 1px solid #dee4e6;

  [data-role="col"] {
    display: flex;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ghead, [data-role="row"] {
  display: flex;
}

.ghead {
  overflow: hidden;
  [data-role="row"] {
    width: 100%;
  }
  [data-role="col"] {
    position: relative;
    border-bottom: 1px solid #dee4e6;
    border-right: 1px solid #dee4e6;
    padding-left: 12px;
    .loading-pie {
      right: 4px;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
      display: inline-block;
      border-width: 9px;
    }
    &:last-child {
      border-right: none;
    }
  }
  [data-sort] {
    cursor: pointer;
    position: relative;
    &:after, &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 0;
      height: 0;
      border: 5px solid transparent;
    }
    &:after {
      border-top-color: #ccc;
      margin-top: 1px;
    }
    &:before {
      border-bottom-color: #ccc;
      margin-top: -11px;
    }
    &:hover {
      &:after {
        border-top-color: #666;
      }
      &:before {
        border-bottom-color: #666;
      }
    }
  }
  [data-sort="1"] {
    &:after {
      display: none;
    }
    &:before {
      margin-top: -8px;
      border-bottom-color: #666;
    }
  }
  [data-sort="0"] {
    &:before {
      display: none;
    }
    &:after {
      border-top-color: #666;
      margin-top: -2px;
    }
  }
}


.gbody {
  overflow: auto;
  [data-role="col"] {
    justify-content: center;
    flex-flow: column wrap;
  }
  [data-role="row"] {
    flex-flow: row;
    &:nth-child(even) {
      background: #f2f6f7;
    }
    &:nth-child(odd) {
      background: #fff;
    }
    &:hover {
      background: #e6f0fa;
      &:nth-child(even) {
        background: #e6f0fa;
      }
    }
  }
}
