.group {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.dark {
  background-color: #222;
  width: 100px;
  text-align: center;
}
.closableTagGroup {
  width: 100%;
  display: flex;
  .closableTag {
    margin: 20px;
  }
}
.labelGroup {
  width: 100%;
  display: flex;
  padding: 20px;
}
