@import "normalize.css/normalize.css";

*, *:after, *:before {
  box-sizing: border-box;
}

*:after, *:before {
  content: '';
}

body {
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: rgb(57, 57, 57);
  background: #fff;
  overflow-y: scroll;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


footer {
  margin-top: 40px;
  color: #590aaa;
  > div {
    padding-top: 12px;
    padding-bottom: 20px;
    border-top: 1px solid #590aaa;
  }
}

:global {
  .main {
    padding-top: 55px;
    min-height: calc(100vh - 61px - 55px);
  }
  .w1120 {
    width: 1120px;
    margin: 0 auto;
  }

  .fbox {
    display: flex;
    &.-sb {
      justify-content: space-between;
    }

    &.-around {
      > div:nth-child(1) {
        flex: 1;
      }
    }
  }

  .btn {
    cursor: pointer;
    text-decoration: none;
    font-size: .8rem;
    display: inline-block;
    padding: 8px 12px;
    border-radius: .2rem;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    font-weight: 500;
    transition: all .3s;
  }

  .btn:hover {
    color: #590aaa;
    background-color: rgba(255, 255, 255, 1);
  }
}

.badges {
  a {
    display: inline-block;
    margin-right: 4px;
  }
}
